@import url('https://fonts.cdnfonts.com/css/sharp-sans');
@import url('https://fonts.cdnfonts.com/css/valorant');
html, body {
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Sharp Sans', sans-serif;
}
h1 {
    font-family: 'VALORANT', sans-serif;
}

                